.dashboard {
    height: 100vh;
    padding: 1rem;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

.seccion-1 {
    display: grid;
    grid-template-columns: 75% 25%;
}


  
@media (max-width: 400px) {
    /* Estilos para móviles estándar */
    .seccion-1 {
        grid-template-columns: auto;
        }
  }

  
@media (min-width: 481px) and (max-width: 600px) {
    /* Estilos para móviles grandes / phablets */
  }
  
  @media (min-width: 601px) and (max-width: 768px) {
    /* Estilos para tablets en modo vertical */
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    /* Estilos para tablets en modo horizontal */
  }

  @media (min-width: 1025px) and (max-width: 1280px) {
    /* Estilos para laptops y pantallas medianas */
  }

  @media (min-width: 1281px) {
    /* Estilos para pantallas grandes o monitores */
  }
  