.dashboard {
    height: 100vh;
    padding: 1rem;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

.section-component {
    display: grid;
    grid-template-columns: 75% 25%;
}


  
@media (max-width: 400px) {
    /* Estilos para móviles estándar */
    .section-component {
        grid-template-columns: auto;
        }
  }

@media (max-width: 720px) {
    /* Estilos para tablets en modo vertical */
    .section-component {
      grid-template-columns: auto;
    }
  }

@media (max-width: 1080px) {
    /* Estilos para tablets en modo horizontal */
    .section-component {
        grid-template-columns: auto;
    } 
  }
